<div class="row-layout row">
  <div class="row-layout_1 row">
    <div class="column-layout column">
      <h6 class="title">Preferences</h6>
      <igx-buttongroup alignment="horizontal" [disabled]="false" class="button-group">
        <button igxButton [disabled]="false">
          <span>$</span>
        </button>
        <button igxButton [disabled]="false">
          <span>$$</span>
        </button>
        <button igxButton [disabled]="false">
          <span>$$$</span>
        </button>
      </igx-buttongroup>
      <igx-buttongroup alignment="horizontal" [disabled]="false" class="button-group_1">
        <button igxButton [disabled]="false">
          <span>0-1 Mi</span>
        </button>
        <button igxButton [disabled]="false">
          <span>2-5 Mi</span>
        </button>
        <button igxButton [disabled]="false">
          <span>5+ Mi</span>
        </button>
      </igx-buttongroup>
      <igx-buttongroup alignment="horizontal" [disabled]="false" class="button-group_2">
        <button igxButton [disabled]="false">
          <span>AM</span>
        </button>
        <button igxButton [disabled]="false">
          <span>PM</span>
        </button>
        <button igxButton [disabled]="false">
          <span>All Day</span>
        </button>
      </igx-buttongroup>
      <p class="text">Location Price</p>
      <p class="text_1">Distance Preference</p>
      <p class="text_2">Time Preference</p>
      <igx-switch labelPosition="after" [checked]="false" [disabled]="false" class="switch">No/Yes</igx-switch>
      <igx-switch labelPosition="after" [checked]="false" [disabled]="false" class="switch_1">Off/On</igx-switch>
      <p class="text_3">Prefer locations with friends?</p>
      <p class="text_4">App Alerts</p>
    </div>
  </div>
</div>
