<div class="left column">
  <div class="form column">
    <div class="column-layout column">
      <h3 class="title">Reset password</h3>
      <p class="igx-typography__body-2 text">Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.</p>
    </div>
    <igx-input-group placeholder="Min 8 characters" type="border" class="input-group">
      <label igxLabel for="inputField">Email</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Min 8 characters" igxInput />
    </igx-input-group>
    <button igxButton="raised" igxButtonBackground="var(--igx-secondary-500)" [disabled]="false" routerLink="/home/set-new-password" class="button">
      <span>send reset link</span>
    </button>
  </div>
</div>
