<div class="row-layout row">
  <div class="row-layout_1 row">
    <div class="column-layout column">
      <h6 class="title">App Tracker</h6>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/65553.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Facebook</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
          <igx-avatar src="/assets/download.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Twitter</h4>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download (3).png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Reddit</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download.jpg" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Amazon</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download (4).png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Steam</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download (2).png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>YouTube</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download (1).png" [roundShape]="false" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Instagram</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar src="/assets/download (5).png" [roundShape]="false" size="small" igxListThumbnail></igx-avatar>
          <h4 igxListLineTitle>Twitch</h4>
          <igx-switch labelPosition="after" [checked]="false" [disabled]="false" igxListLine class="switch">Off/On</igx-switch>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
