<div class="row-layout_1 row">
  <div class="column-layout column">
    <div class="column-layout_3 column">
      <div class="column-layout_1 column">
        <h4 class="title">Hi User!</h4>
        <p class="igx-typography__subtitle-1 title_1">We have some great suggestions for you and your friends! We've searched around your location to provide you with these great options!</p>
      </div>
    </div>
    <div class="column-layout_2 column">
      <div class="row-layout_2 row">
        <h6 class="title_2">Destinations</h6>
      </div>
      <div class="row-layout row">
        <igx-card type="outlined" class="card">
          <igx-card-media height="120px">
            <img src="/assets/Stand-Up-Comedy-Concept-780x405.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Kraken Stand-Up</h3>
            <h5 igxCardHeaderSubtitle>3 Friends going</h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions">
            <button igxButton="outlined" igxButtonColor="var(--igx-grays-900)" [disabled]="false" routerLink="/in-app/kraken-stand-up" class="button">
              <span>view</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card_1">
          <igx-card-media height="120px">
            <img src="/assets/K-16_Bowling_Main_01.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Bowling 321</h3>
            <h5 igxCardHeaderSubtitle>1 Friend going</h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions"></igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card_2">
          <igx-card-media height="120px">
            <img src="/assets/1200x0.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Axe House</h3>
            <h5 igxCardHeaderSubtitle>1 Friend going</h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions"></igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card_3">
          <igx-card-media height="120px">
            <img src="/assets/54d3cdbba4f40_-_esq-01-bar-lgn.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Bard's Bar</h3>
            <h5 igxCardHeaderSubtitle>0 Friends going</h5>
          </igx-card-header>
          <igx-card-actions [reverse]="true" class="actions"></igx-card-actions>
        </igx-card>
      </div>
    </div>
  </div>
</div>
