<div class="left column">
  <div class="form column">
    <div class="column-layout_1 column">
      <div class="column-layout_2 column">
        <h3 class="title">Sign up</h3>
        <p class="igx-typography__body-2 text">Don't have an account? Sign up now for free and enjoy thousands of great travel opportunities</p>
      </div>
      <igx-input-group placeholder="myname@website.com" type="border" class="input-group">
        <label igxLabel for="inputField">Email</label>
        <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="myname@website.com" igxInput />
      </igx-input-group>
      <igx-input-group placeholder="Min 8 characters" type="border" class="input-group">
        <label igxLabel for="inputField">Password</label>
        <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Min 8 characters" igxInput />
      </igx-input-group>
      <igx-input-group placeholder="Min 8 characters" type="border" class="input-group">
        <label igxLabel for="inputField">Repeat Password</label>
        <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Min 8 characters" igxInput />
      </igx-input-group>
      <div class="row-layout_1 row">
        <div class="row-layout row">
          <igx-checkbox labelPosition="after" [checked]="true" [disabled]="false" class="checkbox">Remember me</igx-checkbox>
        </div>
      </div>
      <button igxButton="raised" igxButtonBackground="var(--igx-secondary-500)" [disabled]="false" routerLink="/in-app/dashboard" class="button_1">
        <span>sign up</span>
      </button>
    </div>
    <div class="column-layout column">
      <button igxButton="outlined" igxButtonColor="var(--igx-grays-900)" [disabled]="false" routerLink="/home/login" class="button">
        <span>Already have a registration?</span>
      </button>
    </div>
  </div>
</div>
