<div class="row-layout row">
  <div class="row-layout_2 row">
    <button igxButton="icon" type="icon" [disabled]="false" [igxToggleAction]="navigationDrawer" class="icon-button">
      <igx-icon>menu</igx-icon>
    </button>
  </div>
  <div class="row-layout_1 row">
    <igx-avatar src="/assets/download (1).jpg" [roundShape]="true" size="small"></igx-avatar>
  </div>
</div>
<igx-nav-drawer width="320px" [pinThreshold]="0" [pin]="false" position="left" [isOpen]="true" #navigationDrawer class="navigation-drawer">
  <ng-template igxDrawer>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/dashboard">
      <igx-icon font="material" [active]="true">home</igx-icon>
      <span class="navigation-drawer_1">Home</span>
    </span>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/search">
      <igx-icon font="material" [active]="true">image_search</igx-icon>
      <span class="navigation-drawer_1">Search</span>
    </span>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/friends">
      <igx-icon font="material" [active]="true">accessibility</igx-icon>
      <span class="navigation-drawer_1">Friends</span>
    </span>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/screen-time">
      <igx-icon font="material" [active]="true">timer</igx-icon>
      <span class="navigation-drawer_1">Screen Time</span>
    </span>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/profile">
      <igx-icon font="material" [active]="true">account_circle</igx-icon>
      <span class="navigation-drawer_1">Profile</span>
    </span>
    <span [isHeader]="false" igxDrawerItem routerLink="/in-app/preferences">
      <igx-icon font="material" [active]="true">settings</igx-icon>
      <span class="navigation-drawer_1">Prefrences</span>
    </span>
  </ng-template>
</igx-nav-drawer>
<div class="views-container">
  <router-outlet></router-outlet>
</div>
