:host {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.left {
  justify-content: center;
  width: 796px;
  height: 100%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
  align-items: center;
  position: relative;
}
.row-layout {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: max-content;
  margin: 0 0 32px;
  position: relative;
  min-width: 50px;
}
.column-layout {
  min-width: max-content;
  min-height: 50px;
  align-items: stretch;
}
.form {
  margin: 60px;
  max-width: 500px;
  flex-shrink: 0;
  min-height: 50px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.column-layout_1 {
  min-height: max-content;
  margin: 0 0 32px;
  align-items: stretch;
  min-width: 50px;
}
.column-layout_2 {
  min-height: 50px;
  margin: 0 0 32px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.title {
  color: var(--igx-grays-900);
  margin: 0 0 16px;
  white-space: pre-wrap;
  height: max-content;
  min-width: min-content;
}
.link {
  color: var(--igx-secondary-900);
  flex-shrink: 0;
  display: block;
  height: max-content;
  min-width: min-content;
}
.text {
  margin: 0 0 16px;
  white-space: pre-wrap;
  height: max-content;
  min-width: min-content;
}
.title_1 {
  white-space: pre-wrap;
  height: max-content;
  min-width: min-content;
}
.checkbox {
  margin: 0 2px 0 0;
  width: max-content;
  height: max-content;
}
.button {
  margin: 32px 0 0;
  min-width: min-content;
  height: max-content;
}
.input-group {
  margin: 0 0 24px;
  min-width: min-content;
  height: max-content;
}
.button_1 {
  min-width: min-content;
  height: max-content;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
