<div class="left column">
  <div class="form column">
    <div class="column-layout column">
      <h3 class="title">Set new password</h3>
      <p class="igx-typography__body-2 text">Please, type your new password and click confirm. </p>
    </div>
    <igx-input-group placeholder="Min 8 characters" type="border" class="input-group">
      <label igxLabel for="inputField">Password</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Min 8 characters" igxInput />
    </igx-input-group>
    <igx-input-group placeholder="Repeat password" type="border" class="input-group">
      <label igxLabel for="inputField">Password</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Repeat password" igxInput />
    </igx-input-group>
    <button igxButton="raised" igxButtonBackground="var(--igx-secondary-500)" [disabled]="false" routerLink="/home/login" class="button">
      <span>confirm new password</span>
    </button>
  </div>
</div>
