:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.left {
  justify-content: center;
  align-items: center;
  width: 799px;
  height: 100%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
}
.form {
  min-height: max-content;
  margin: 50px;
  flex-shrink: 0;
  align-items: stretch;
  min-width: 50px;
  position: relative;
}
.column-layout {
  min-height: 50px;
  margin: 0 0 32px;
  align-items: stretch;
  min-width: 50px;
  position: relative;
}
.title {
  color: var(--igx-grays-900);
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.text {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.input-group {
  margin: 0 0 24px;
  height: max-content;
  min-width: min-content;
}
.button {
  height: max-content;
  min-width: min-content;
}
.column {
  display: flex;
  flex-direction: column;
}
