<div class="row-layout row">
  <div class="row-layout_1 row">
    <div class="column-layout column">
      <h6 class="title">Friends                                   Your Friend Code = 12345678</h6>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Joey</h4>
          <p igxListLineSubTitle>Next Event: Kraken Stand-Up</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Sarah</h4>
          <p igxListLineSubTitle>Next Event: Bowling 321</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Evan</h4>
          <p igxListLineSubTitle>Next Event: Kraken Stand-Up</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Paul</h4>
          <p igxListLineSubTitle> Next Event: None</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Sam</h4>
          <p igxListLineSubTitle>Next Event: Kraken Stand-Up</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar icon="person" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
          <h4 igxListLineTitle>Kat</h4>
          <p igxListLineSubTitle>Next Event: Axe House</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">star</igx-icon>
        </igx-list-item>
      </igx-list>
      <button igxButton="fab" igxButtonBackground="var(--igx-primary-500)" type="fab" [disabled]="false" routerLink="/in-app/add-friend" class="floating-action-button">
        <igx-icon>add</igx-icon>
      </button>
      <p class="text"> </p>
      <p class="igx-typography__body-2 text"> </p>
      <igx-avatar src="/assets/download (7).png" [roundShape]="true" size="small" class="avatar"></igx-avatar>
      <igx-avatar src="/assets/65553.png" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
      <igx-avatar src="/assets/download.png" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
      <p class="text_1">                                                   Add Friend</p>
    </div>
  </div>
</div>
